* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Oswald';
  font-weight: 500;
  color: #ffffff;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-inner {
  max-width: 1170px;
  margin: 0 auto;
}

.more-button {
  background-color: #d81c2b;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.section-header {
  position: absolute;
  height: 100px;
  width: 100%;
  padding: 0 50px;
}

.section-header .section-header__container {
  max-width: none;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header .logo img {
  height: 80px;
  width: auto;
  display: block;
}

.section-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-header .nav__item {
  margin-right: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.section-main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../img/main-bg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/main-bg.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.section-main .section-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}

.section-main .main__text {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin-bottom: 80px;
}

.section-main .main__text span:nth-child(2) {
  color: #d81c2b;
}

.section-main .main__button a {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-start .section-start__container {
  max-width: none;
}

.section-start .section-start__container .section-start__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  width: 100%;
  text-align: center;
}

.section-start .section-start__container .section-start__header .section-start__header-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: end;
  color: #d81c2b;
  background-color: #ffffff;
  padding-right: 5px;
}

.section-start .section-start__container .section-start__header .section-start__header-right {
  text-align: start;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #d81c2b;
  color: #ffffff;
  padding-left: 5px;
}

.section-start .section-start__container .section-start-parent {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-start .section-start__container .section-start-parent .section-start-child-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.section-start .section-start__container .section-start-parent .section-start-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  color: #d81c2b;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-start .section-start__container .section-start-parent .section-start-child-text {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-start .section-start__container .section-start-parent .section-start-child-text .text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.section-start .section-start__container .section-start-parent .section-start-child-text .text h3 {
  font-size: 50px;
}

.section-start .section-start__container .section-start-parent .section-start-child-text .text p {
  color: #000000;
  font-size: 20px;
}

.section-start .section-start__container .section-start-parent .section-start-child-text .number-and-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-start .section-start__container .section-start-parent .section-start-child-text .number-and-image .number {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-start .section-start__container .section-start-parent .section-start-child-text .number-and-image .number span {
  font-size: 150px;
  line-height: 30px;
}

.section-start .section-start__container .section-start-parent .section-start-child-text .number-and-image .image img {
  width: 100%;
  height: auto;
}

.section-start .section-start__container .section-start-parent .img1 {
  background-image: url(../img/pitanie2.jpg);
  background-position: right bottom;
}

.section-start .section-start__container .section-start-parent .img2 {
  background-image: url(../img/tren.jpg);
}

.section-start .section-start__container .section-start-parent .img3 {
  background-image: url(../img/son.jpg);
}

.section-start .section-start__container .section-start-parent-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section-food {
  padding-top: 50px;
  padding-bottom: 150px;
}

.section-food .section-food__container {
  max-width: 90%;
}

.section-food__title {
  text-align: center;
  margin-bottom: 50px;
}

.section-food__title h2 {
  color: #d81c2b;
  font-size: 60px;
}

.section-food__content {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

.section-food__content-left {
  border-right: 2px solid black;
  padding-right: 20px;
}

.section-food__content-left .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-food__content-right {
  border-left: 2px solid black;
  padding-left: 20px;
}

.section-food__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-food__content-item .title h3 {
  font-size: 35px;
  margin-bottom: 30px;
}

.section-food__content-item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-food__content-item .content .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-food__content-item .content .image img {
  height: 500px;
  width: auto;
}

.section-food__content-item .content .text-and-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-food__content-item .content .text-and-button p {
  font-size: 20px;
  margin-bottom: 50px;
}

.section-food__content-item .content .text-and-button .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-food__content-right .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section-trens {
  background-color: #080808;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-trens .section-trens__container {
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-trens .section-trens__container .section-trens__title {
  margin-bottom: 50px;
}

.section-trens .section-trens__container .section-trens__title h2 {
  color: #d81c2b;
  font-size: 60px;
}

.section-trens .section-trens__container .section-trens__text {
  margin-bottom: 50px;
}

.section-trens .section-trens__container .section-trens__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.section-trens .section-trens__container .section-trens__list_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.section-trens .section-trens__container .section-trens__list_title {
  font-size: 30px;
  margin-bottom: 20px;
}

.section-trens .section-trens__container .section-trens__list_text {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */