
$first-color: #d81c2b;
$second-color: #ffffff;
$third-color:#080808;
$first-text-color:#d81c2b;
$second-text-color: #ffffff;
$third-text-color:#000000;
$title-size: 70px;
*{
    margin: 0;
    box-sizing: border-box;
}
ul,li{
    
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Oswald';
    font-weight: 500;
    color:$second-text-color;
}
.wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.section-inner{
    max-width: 1170px;
    margin: 0 auto;
}
.more-button{
   
    background-color: $first-color;
    padding: 15px;
    font-size:20px;
    border-radius: 10px;
    color:$second-text-color;
}

// header
.section-header{
    position: absolute;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    .section-header__container{
        max-width: none;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        
        img{
           height: 80px; 
           width: auto;
           display: block;
        }

    }
    .nav{
        display: flex;
        &__item{
            margin-right: 35px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 29px;
            text-align: center;
            color: $second-text-color;
        }
    }
}
// !header

// main
.section-main{
    background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url(../img/main-bg.jpg);
    display: flex;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    min-height: 100vh;
    .section-inner{
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__text{
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        gap: 50px;
        span{
            &:nth-child(2){
                color: $first-text-color;
            }
        }
        margin-bottom: 80px;
    }
    .main__button{
        
        a{
           text-align: center;
           padding: 20px;
        background-color: #fff;
        color: $third-text-color;
        border-radius: 10px;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;  
        }
          
    }
}
// !main

// start
.section-start{
    .section-start__container{
        max-width: none;
        .section-start__header{
            display: flex;
            align-items: center;
            font-size: 60px;
            width: 100%;
            text-align: center;
            .section-start__header-left{
                flex-basis: 50%;
                text-align: end;
                color: $first-text-color;
                background-color: $second-color;
                padding-right: 5px;
            }
            .section-start__header-right{
                text-align: start;
                flex-basis: 50%;
                background-color: $first-color;
                color: $second-text-color;
                padding-left: 5px;
            }
        }
        .section-start-parent{
            height: 400px;
            display: flex;
            
            .section-start-child-image{
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0.9;
               
            }
            .section-start-child{
                justify-content: space-between;
                background-color: $second-color;
                color: $first-text-color;
                flex-basis: 50%;
            }
            .section-start-child-text{
                padding: 40px;
                display: flex;
                .text{
                    flex-basis: 70%;
                    h3{
                        font-size: 50px;
                    }
                    p{
                        color: $third-text-color;
                        font-size: 20px;
                    }
                }
                .number-and-image{
                    display: flex;
                    flex-direction: column;
                    flex-basis: 20%;
                    justify-content: space-between;
                    .number{
                    padding-top: 20px;
                    display: flex;
                    justify-content: flex-end;
                    
                    span{font-size: 150px;
                    line-height: 30px;}
                    }
                    .image{
                        img{
                            width: 100%;
                            height: auto;   
                        }
                          
                    }
                  
                }
                
            }
            .img1{
                background-image: url(../img/pitanie2.jpg);
                background-position: right bottom;
            }
            .img2{
                background-image: url(../img/tren.jpg);
            }
            .img3{
                background-image: url(../img/son.jpg);
            }
        }
        .section-start-parent-reverse{
            flex-direction: row-reverse;
        }
        
    }
}
// !start

// food
.section-food{
    padding-top: 50px;
    padding-bottom: 150px;
    .section-food__container{
        max-width: 90%;
    }
    &__title{
        text-align: center;
        h2{
          color:$first-text-color;
          font-size: 60px;  
        }
        margin-bottom: 50px;
        
    }
    &__content{
        color:$third-text-color;
        display: flex;
        justify-content: center;
        height: 500px;
        &-left{
            border-right: 2px solid black;
            padding-right: 20px;
            .content{
                justify-content: space-between; 
            }
        }
        &-right{
            border-left: 2px solid black;
            padding-left: 20px;
        }
        &-item{
            
            display: flex;
           
            align-items: center;
            flex-basis: 50%;
            flex-direction: column;
            .title{
                h3{
                font-size: 35px;
                margin-bottom: 30px;
                }
            }
            .content{
                display: flex;
                .image{
                    display: flex;
                    justify-content: center;
                    img{
                        height:500px;
                        width: auto;
                        
                    } 
                    flex-basis: 50%;
                }
               
                .text-and-button{
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    p{
                        font-size: 20px;
                        margin-bottom: 50px;}
                    .button{
                        align-self: center;
                    }
                }
            }
        }
        &-right{
            .content{
                flex-direction: row-reverse;
            }
        }
    }
}
// !food
// trens
.section-trens{
    background-color: $third-color;
    padding-top: 100px;
    padding-bottom: 100px;
    .section-trens__container{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-trens__title{
            h2{
                color:$first-text-color;
                font-size: 60px;  
            }
            margin-bottom: 50px;
        }
        .section-trens__text{

            margin-bottom: 50px;
        }
        .section-trens__list{
            display: flex;
            gap:50px;
            &-item{

            }
            &_image{
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
            &_title{
                font-size: 30px;
                margin-bottom: 20px;
            }
            &_text{
                font-size: 20px;

            }
        }

    }
}
// !trens